body {
  background-color: blue;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#board {
  background-color: black;
  width: 90vmin;
  height: 90vmin;
  line-height: 0;
  border: 1px solid green;
}

.square {
  display: inline-block;
  box-sizing: border-box;
  height: 9vmin;
  width: 9vmin;
  border: 1px solid green;
}
