@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'),
       url('./fonts/press-start-2p-v4-latin-regular.woff2') format('woff2');
}

:root {
  --console-green: #2ff20e;
  --board-dimension: 80vmin;
  --square-dimension: 8vmin;
  --score-dimension: 8vmin;
  --border-width: 1.5vmin;
  --status-height: calc( (100vmin - var(--board-dimension) ) / 2);
  --status-color: red;

  --dialog-width: 60vmin;
  --dialog-height: 40vmin;

  --font-small: calc(var(--board-dimension) / 40);
  --font-normal: calc(var(--board-dimension) / 30);
  --font-large: calc(var(--board-dimension) / 20);

  --cube-color-red: purple;
  --cube-color-blue: gray;
  --cube-color-yellow: brown;
  --cube-color-orange: pink;
  --cube-color-white: magenta;
  --cube-color-green: aquamarine;

  --fade-duration: 0.15s;
  --fade-in-out-duration: 3s;
  --board-spin-duration: 15s;
}

body {
  background-color: black;
  font-family: 'Press Start 2P';
  font-size: var(--font-normal);
  color: var(--console-green);
}

p {
  margin: 0;
}

button {
  font-family: 'Press Start 2P';
  color: var(--console-green);
  font-size: var(--font-small);
  height: var(--font-large);
  background-color: transparent;
  padding: 0 1.5vmin;
  margin: 0 1vmin;
}

input {
  font-family: 'Press Start 2P';
  color: var(--console-green);
  font-size: var(--font-small);
  height: var(--font-large);
  background-color: white;
  padding: 0 1.5vmin;
  margin: 0 1vmin;
}

.hide {
  visibility: hidden;
}

.color-change {
  animation: color-change 2s infinite;
}

.fade-in-out {
  animation: fade-in-out var(--fade-in-out-duration) 1;
}

body > div {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#screen {
  top: var(--status-height);
  bottom: var(--status-height);
  perspective: 400vmin;
}

#ui {
  z-index: 1;
}

#content {
  width: var(--board-dimension);
  height: var(--board-dimension);
  background-color: #18d8e3;
  color: white;
  font-size: var(--font-normal);
  box-sizing: border-box;
  padding: 3vmin;
  transition: transform 0.4s ease-out;
  visibility: visible;
}

.hide #content {
  transform: scale(0);
}

#content p {
  line-height: var(--font-large);
  height: var(--font-large);
  padding: calc(var(--board-dimension) / 80) 0;
}

#content a {
  float: right;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  font-size: var(--font-small);
}

#welcome {
  position: relative;
}

#name-container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  font-size: var(--font-large);
  line-height: var(--font-large);
}

#content #ui-status {
  text-align: center;
  color: var(--status-color);
  border: 0.5vmin solid var(--status-color);
  visibility: hidden;
  padding: 0;
}

#content #ui-status.fade-in-out {
  visibility: visible;
}

#content #action-buttons {
  border-bottom: calc(var(--board-dimension) / 120) dotted white;
  text-align: center;
  padding-bottom: calc(var(--board-dimension) / 20);
  margin-bottom: calc(var(--board-dimension) / 50);
}

#action-buttons button {
  color: white;
}

#list-header {
  text-align: center;
  text-decoration: underline;
  color: gainsboro;
}

/* Hide the link input. */
/* TODO: hide in a better way. perhaps use clipboard api */
.peer-link {
  background: transparent;
  color: transparent;
  width: 0;
  border: none;
}

#board {
  position: relative;
  width: var(--board-dimension);
  height: var(--board-dimension);
  border: 1px solid var(--console-green);
  transform-style: preserve-3d;
  animation: spin var(--board-spin-duration) infinite;
  line-height: 0;
}

#board span {
  display: inline-block;
  box-sizing: border-box;
  height: var(--square-dimension);
  width: var(--square-dimension);
  border: 1px solid var(--console-green);
}

#status {
  position: absolute;
  top: calc(0vmin - var(--status-height));
  left: 0;
  right: 0;
  margin: 0 auto;
  height: var(--status-height);
  width: var(--board-dimension);
}

#status-text {
  text-align: center;
  padding-top: calc(var(--status-height) / 3);
}

#play-again {
  font-size: var(--font-small);
  text-decoration: underline;
  cursor: pointer;
}

#bottom-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(0vmin - var(--status-height));
  height: var(--status-height);
  line-height: var(--status-height);
  width: var(--board-dimension);
  margin: 0 auto;
  text-align: center;
}

#board .red {
  background-color: var(--cube-color-red);
}

#board .blue {
  background-color: var(--cube-color-blue);
}

#board .yellow {
  background-color: var(--cube-color-yellow);
}

#board .orange {
  background-color: var(--cube-color-orange);
}

#board .white {
  background-color: var(--cube-color-white);
}

#board .green {
  background-color: var(--cube-color-green);
}

.score {
  position: absolute;
  width: var(--score-dimension);
  height: var(--score-dimension);
  text-align: center;
  line-height: var(--score-dimension);
  vertical-align: middle;
}

#player-1.score {
  top: calc(0vmin - var(--score-dimension));
  left: calc(0vmin - var(--score-dimension));
}

#player-2.score {
  bottom: calc(0vmin - var(--score-dimension));
  right: calc(0vmin - var(--score-dimension));
}

.piece {
  position: absolute;
  height: var(--square-dimension);
  width: var(--square-dimension);
  transition: transform ease-in-out;
  transform-style: preserve-3d;
}

.piece > div {
  position: absolute;
  height: var(--square-dimension);
  width: var(--square-dimension);
}

.piece .top {
  transform: translateZ(var(--square-dimension));
}

.piece .north {
  transform-origin: top;
  transform: rotateX(90deg);
}

.piece .east {
  transform-origin: right;
  transform: rotateY(90deg);
}

.piece .south {
  transform-origin: bottom;
  transform: rotateX(-90deg);
}

.piece .west {
  transform-origin: left;
  transform: rotateY(-90deg);
}

.piece .bottom {
  transform-origin: top;
  transform: rotateZ(0);
}

.piece.moving.moveLeft {
  transform-origin: left;
  transform: rotateY(-90deg);
}

.piece.moving.moveRight {
  transform-origin: right;
  transform: rotateY(90deg);
}

.piece.moving.moveUp {
  transform-origin: top;
  transform: rotateX(90deg);
}

.piece.moving.moveDown {
  transform-origin: bottom;
  transform: rotateX(-90deg);
}

/*
.piece {
  box-sizing: border-box;
  border-width: var(--border-width);
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--square-dimension);
  width: var(--square-dimension);
  transition-property: border-width, transform;
}


.piece.moving.moveLeft {
  border-left-width: 0vmin;
  border-right-width: calc(var(--square-dimension) - var(--border-width));
}

.piece.moving.moveRight {
  border-right-width: 0vmin;
  border-left-width: calc(var(--square-dimension) - var(--border-width));
}

.piece.moving.moveUp {
  border-top-width: 0vmin;
  border-bottom-width: calc(var(--square-dimension) - var(--border-width));
}

.piece.moving.moveDown {
  border-bottom-width: 0vmin;
  border-top-width: calc(var(--square-dimension) - var(--border-width));
}

*/

#dialog {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  transition: opacity ease-in var(--fade-duration);
  visibility: visible;
}

#dialog.hide {
  pointer-events: none;
  opacity: 0;
}

#dialog-box {
  box-sizing: border-box;
  padding: 3vmin;
  position: relative;
  background-color: black;
  width: var(--dialog-width);
  border: 1px solid var(--console-green);
  text-align: center;
}

#dialog-title {
  margin-bottom: 3vmin;
}

#input-container {
  margin-bottom: 3vmin;
  display: none;
}

.prompt #input-container {
  display: inline-block;
}

.alert #confirm-button {
  display: none;
}

#input-container input {
  background-color: #535353;
}

@keyframes spin {
  0% {
    transform: rotateX(60deg) rotateZ(-10deg);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: rotateX(60deg) rotateZ(10deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotateX(60deg) rotateZ(-10deg);
    animation-timing-function: ease-in-out;
  }
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  10% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes color-change {
  0% { color: salmon; }
  50% { color: magenta; }
  100% { color: salmon; }
}
