@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'),
       url('./fonts/press-start-2p-v4-latin-regular.woff2') format('woff2');
}

:root {
  --console-green: #2ff20e;
  --board-dimension: 80vmin;
  --square-dimension: 8vmin;
  --score-dimension: 8vmin;
  --border-width: 1.5vmin;
  --status-height: calc( (100vmin - var(--board-dimension) ) / 2);
  --status-color: red;

  --dialog-width: 60vmin;
  --dialog-height: 40vmin;

  --font-small: calc(var(--board-dimension) / 40);
  --font-normal: calc(var(--board-dimension) / 30);
  --font-large: calc(var(--board-dimension) / 22);
  --font-very-large: calc(var(--board-dimension) / 10);

  --cube-color-red: purple;
  --cube-color-blue: gray;
  --cube-color-yellow: brown;
  --cube-color-orange: pink;
  --cube-color-white: magenta;
  --cube-color-green: aquamarine;

  --fade-duration: 0.15s;
  --fade-in-out-duration: 3s;
  --board-spin-duration: 30s;
  --board-breathe-duration: 15s;
  --board-roll-duration: 5s;
}

body {
  background-color: black;
  font-family: 'Press Start 2P';
  font-size: var(--font-normal);
  color: var(--console-green);
}

p {
  margin: 0;
}

button {
  font-family: 'Press Start 2P';
  color: var(--console-green);
  font-size: var(--font-small);
  line-height: 1.2vmin;
  background-color: transparent;
  padding: 2vmin 3.5vmin;
  margin: 0 1vmin;
  border: 0.3vmin solid var(--console-green);
  cursor: pointer;
  transition: transform 0.01s ease-in;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background-color: var(--console-green);
  color: black;
}

input:focus,
button:focus {
  outline: 0;
}

input {
  font-family: 'Press Start 2P';
  color: var(--console-green);
  font-size: var(--font-small);
  height: var(--font-large);
  background-color: white;
  padding: 0 1.5vmin;
  margin: 0 1vmin;
}

.hide {
}

.color-change {
  animation: color-change 2s infinite;
}

.fade-in-out {
  animation: fade-in-out var(--fade-in-out-duration) 1;
}

body > div {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  perspective: 150vmin;
}

#screen {
  top: var(--status-height);
  bottom: var(--status-height);
  animation: breathe var(--board-breathe-duration) infinite;
  transition: opacity 0.3s ease-in;
}

#screen.hide {
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

#ui {
  z-index: 1;
  transition: opacity 0.3s ease-in, transform 0.4s ease-out;
  transform: rotateZ(-1.5deg);
}

#ui.active {
  animation: twist 2.2s infinite;
}

#content {
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  border: 1vmin solid var(--console-green);
  width: var(--board-dimension);
  height: var(--board-dimension);
  font-size: var(--font-normal);
  box-sizing: border-box;
  padding: 3vmin;
}

#ui.hide #content {
  opacity: 0;
  transform: rotateX(60deg) rotateZ(-10deg);
  animation-timing-function: ease-in-out;
}


#content p {
  line-height: var(--font-large);
  height: var(--font-large);
  padding: calc(var(--board-dimension) / 80) 0;
}

#content a {
  float: right;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--font-small);
  color: unset;
}

#title {
  text-align: center;
  margin-top: 2vmin;
  margin-bottom: 4vmin;
  perspective: 55vmin;
}

.title-letter {
  line-height: calc(var(--font-very-large) * 1.4);
  height: calc(var(--font-very-large) * 1.4);
  width: calc(var(--font-very-large) * 1.4);
  font-size: var(--font-very-large);
  margin: 0.3vmin;
  display: inline-block;
  border: 1px solid var(--console-green);
  text-align: center;
  vertical-align: middle;
}

.active .title-letter {
  animation: roll var(--board-roll-duration) infinite;
}

#title .title-letter:nth-child(1) {
  animation-delay: 0.8s;
}
#title .title-letter:nth-child(2) {
  animation-delay: 1.6s;
}
#title .title-letter:nth-child(3) {
  animation-delay: 2.4s;
}
#title .title-letter:nth-child(4) {
  animation-delay: 3.2s;
}
#title .title-letter:nth-child(5) {
  animation-delay: 4s;
}

#welcome {
  font-size: var(--font-small);
}

#name-container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  line-height: var(--font-large);
  font-size: var(--font-large);
}

#content #ui-status {
  text-align: center;
  color: var(--status-color);
  visibility: hidden;
  padding: 0;
  margin: 1.5vmin 0;
}

#content #ui-status.fade-in-out {
  visibility: visible;
}

#content #action-buttons {
  border-bottom: calc(var(--board-dimension) / 120) dotted var(--console-green);
  text-align: center;
  padding-bottom: 6vmin;
  margin-bottom: 3vmin;
}

#list-header {
  text-align: center;
  text-decoration: underline;
}

#list-container {
  font-size: var(--font-small);
  text-align: center;
}

/* Hide the link input. */
/* TODO: hide in a better way. perhaps use clipboard api */
#action-buttons .peer-link {
  background: transparent;
  color: transparent;
  width: 0;
  border: none;
  padding: 0;
  margin: 0;
}

#board {
  position: relative;
  width: var(--board-dimension);
  height: var(--board-dimension);
  border: 1px solid var(--console-green);
  transform-style: preserve-3d;
  animation: spin var(--board-spin-duration) infinite;
  line-height: 0;
}

#board span {
  display: inline-block;
  box-sizing: border-box;
  height: var(--square-dimension);
  width: var(--square-dimension);
  border: 1px solid var(--console-green);
}

#status {
  position: absolute;
  top: calc(0vmin - var(--status-height));
  left: 0;
  right: 0;
  margin: 0 auto;
  height: var(--status-height);
  width: var(--board-dimension);
}

#status-text {
  text-align: center;
  padding-top: calc(var(--status-height) / 3);
}

#play-again {
  font-size: var(--font-small);
  text-decoration: underline;
  cursor: pointer;
}

#bottom-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(0vmin - var(--status-height));
  height: var(--status-height);
  line-height: var(--status-height);
  width: var(--board-dimension);
  margin: 0 auto;
  text-align: center;
}

#board .red {
  background-color: var(--cube-color-red);
}

#board .blue {
  background-color: var(--cube-color-blue);
}

#board .yellow {
  background-color: var(--cube-color-yellow);
}

#board .orange {
  background-color: var(--cube-color-orange);
}

#board .white {
  background-color: var(--cube-color-white);
}

#board .green {
  background-color: var(--cube-color-green);
}

.score {
  position: absolute;
  width: var(--score-dimension);
  height: var(--score-dimension);
  text-align: center;
  line-height: var(--score-dimension);
  vertical-align: middle;
  transform-origin: bottom;
  transform: rotateX(-80deg);
  border: 0.5vmin solid green;
}

#player-1.score {
  top: calc(0vmin - var(--score-dimension));
  left: calc(0vmin - var(--score-dimension));
}

#player-2.score {
  bottom: calc(0vmin - var(--score-dimension));
  right: calc(0vmin - var(--score-dimension));
}

.cube {
  position: absolute;
  height: var(--square-dimension);
  width: var(--square-dimension);
  transition: transform ease-in-out;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  height: var(--square-dimension);
  width: var(--square-dimension);
}

.cube .top {
  transform: translateZ(var(--square-dimension));
}

.cube .north {
  transform-origin: top;
  transform: rotateX(90deg);
}

.cube .east {
  transform-origin: right;
  transform: rotateY(90deg);
}

.cube .south {
  transform-origin: bottom;
  transform: rotateX(-90deg);
}

.cube .west {
  transform-origin: left;
  transform: rotateY(-90deg);
}

.cube .bottom {
  transform-origin: top;
  transform: rotateZ(0);
}

.cube.moving.moveLeft {
  transform-origin: left;
  transform: rotateY(-90deg);
}

.cube.moving.moveRight {
  transform-origin: right;
  transform: rotateY(90deg);
}

.cube.moving.moveUp {
  transform-origin: top;
  transform: rotateX(90deg);
}

.cube.moving.moveDown {
  transform-origin: bottom;
  transform: rotateX(-90deg);
}

#dialog {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  transition: opacity ease-in var(--fade-duration);
  visibility: visible;
}

#dialog.hide {
  pointer-events: none;
  opacity: 0;
}

#dialog-box {
  box-sizing: border-box;
  padding: 3vmin;
  position: relative;
  background-color: black;
  width: var(--dialog-width);
  border: 1px solid var(--console-green);
  text-align: center;
}

#dialog-title {
  margin-bottom: 3vmin;
}

#input-container {
  margin-bottom: 3vmin;
  display: none;
}

.prompt #input-container {
  display: inline-block;
}

.alert #confirm-button {
  display: none;
}

#input-container input {
  background-color: #535353;
}

@keyframes spin {
  0% {
    transform: rotateX(60deg) rotateZ(-10deg);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: rotateX(60deg) rotateZ(10deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotateX(60deg) rotateZ(-10deg);
    animation-timing-function: ease-in-out;
  }
}

@keyframes roll {
  0% {
    background-color: transparent;
    transform-origin: bottom;
    transform: rotateX(0deg);
    animation-timing-function: ease-in;
  }
  20% {
    background-color: transparent;
    transform-origin: bottom;
    transform: rotateX(0deg);
    animation-timing-function: ease-in;
  }
  25% {
    background-color: green;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    visibility: hidden
  }
  35% {
    background-color: green;
    transform-origin: top;
    transform: rotateX(90deg);
    visibility: hidden
  }
  40% {
    transform-origin: top;
    transform: rotateX(0);
    animation-timing-function: ease-in;
  }
  100% {
    transform-origin: top;
    transform: rotateX(0);
    animation-timing-function: ease-in;
  }
}


@keyframes breathe {
  0% {
    perspective: 150vmin;
    animation-timing-function: ease-in-out;
  }
  50% {
    perspective: 200vmin;
    animation-timing-function: ease-in-out;
  }
  100% {
    perspective: 150vmin;
    animation-timing-function: ease-in-out;
  }
}

@keyframes twist {
  0% {
    transform: rotateZ(-1.5deg);
    animation-timing-function: ease-in;
  }
  10% {
    transform: rotateZ(1.5deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotateZ(1.5deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: rotateZ(-1.5deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: rotateZ(-1.5deg);
    animation-timing-function: ease-in;
  }
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  10% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes color-change {
  0% { color: salmon; }
  50% { color: magenta; }
  100% { color: salmon; }
}
